[linux_bridge]
physical_interface_mappings = provider:enp0s3

[vxlan]
enable_vxlan = True
local_ip = 127.0.0.1
l2_population = True

[securitygroup]
enable_security_group = True
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver